python-dotenv~=1.1.1
jupyterlab
ipywidgets~=8.1.7
requests~=2.32.4
numpy~=1.26.4
pandas~=2.3.0
scipy~=1.13.1
scikit-learn~=1.7.0
matplotlib~=3.10.3
gensim~=4.3.3
torch
transformers~=4.53.0
tqdm~=4.67.1
openai~=1.93.0
gradio~=5.35.0
langchain~=0.3.26
tiktoken~=0.9.0
faiss-cpu~=1.11.0
langchain-openai~=0.3.27
langchain_experimental
langchain_chroma
langchain[docarray]
datasets~=3.6.0
sentencepiece
matplotlib
google-generativeai
anthropic~=0.55.0
scikit-learn
unstructured
chromadb~=1.0.12
plotly~=6.2.0
jupyter-dash
beautifulsoup4~=4.13.4
pydub~=0.25.1
modal~=1.0.5
ollama~=0.5.1
accelerate
sentencepiece
bitsandbytes
psutil
setuptools
speedtest-cli
sentence_transformers~=4.1.0
feedparser~=6.0.11

ipython~=9.3.0
nest-asyncio~=1.6.0
rich~=14.0.0
httpx~=0.28.1
protobuf~=5.29.3
pillow~=11.2.1
huggingface_hub~=0.33.1
google-api-python-client~=2.174.0
faiss~=1.9.0
pyarrow~=20.0.0
sqlalchemy~=2.0.41
langchain-core~=0.3.66
langchain-community~=0.3.26
pydantic~=2.11.7
langchain-text-splitters~=0.3.8
joblib~=1.5.1
twilio~=9.6.3
prometheus_client~=0.22.1
nbformat~=5.10.4